<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="{{ route('/favicon') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ $title ?? DL_COMPANY_NAME }}</title>

<meta name="description" content="{{ $description ?? 'DLUnire Framework' }}" />
<meta property="og:title" content="{{ $title ?? DL_COMPANY_NAME }}" />
<meta property="og:description" content="{{ $description ?? 'DLUnire Framework' }}" />
<meta property="og:type" content="website" />
<!-- <meta property="og:image" content="@print('preview')" /> -->
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />

<!-- <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ $twitter }}" />
<meta name="twitter:image" content="@print('preview')" />
<meta name="twitter:image:alt" content="{{ $preview_alt }} /> -->

<link rel="canonical" href="{{ route('') }}" />

<link rel="stylesheet" href="{{ style() }}">
<link rel="icon" href="{{ asset('favicon.png')  }}" type="image/png">

<meta http-equiv="Content-Security-Policy"
    content="script-src *.tawk.to *.jsdelivr.net *.google.com *.gstatic.com 'nonce-{{ $token }}' ; object-src 'none'">

<!-- <meta http-equiv="Content-Security-Policy"
    content="script-src 'nonce-{{ $token }}' https://*.tawk.to https://*.jsdelivr.net https://*.google.com https://*.gstatic.com; object-src 'none'"> -->