@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes error {
    from {
        --icon-color: red;
        border: 1px solid rgba(red, 0.3);
        color: red;
    }
}