@use "sass:color";
@use "./vars" as *;
.button {
    --icon-size: 1.2rem;
    --radius: 20px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);
    padding: 0 var(--padding);
    border-radius: var(--radius);
    background-color: transparent;
    border: 0;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease;
    position: relative;
    cursor: pointer;
    &:active {
        transition: none;
    }
    span,
    svg {
        pointer-events: none;
        user-select: none;
    }
    font: {
        family: inherit;
        size: 0.88rem;
    }
    &--normalize {
        --icon-color: #{rgba(white, 0.8)};
        --padding: 20px;
        height: 30px;
        border-radius: 20px;
        border: 1px solid rgba(white, 0.1);
        color: var(--icon-color);
    }
    &--submit {
        &:hover {
            background-color: rgba(black, 0.3);
        }
        &,
        &:active {
            background-color: rgba(white, 0.05);
        }
    }
    &--close {
        &:hover {
            background-color: #c00;
        }
        &,
        &:active {
            background-color: #a00;
        }
    }
    &--reset {
        $color: #d50;
        &:hover {
            background-color: color.adjust($color: $color, $lightness: 5%);
        }
        &,
        &:active {
            background-color: $color;
        }
    }
    &--primary {
        $primary: rgb(0, 103, 167);
        --icon-size: 1rem;
        gap: 5px;
        height: 30px;
        min-width: 100px;
        padding: 0 20px;
        &:hover {
            background-color: color.adjust($color: $primary, $lightness: 7%);
        }
        &,
        &:active {
            background-color: $primary;
        }
    }
    &--list {
        --padding: 20px;
        border: 1px solid rgba($base-color, 0.5);
        height: 100%;
        flex-grow: 1;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-color: $secondary-color;
        z-index: 1;
        justify-content: space-between;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        svg {
            transform: rotate(-90deg);
            margin-left: 3px;
            transition: 300ms ease;
        }
        &:hover {
            background-color: color.adjust($color: $secondary-color, $lightness: 5%);
        }
        &:active {
            background-color: $secondary-color;
            transition: none;
        }
        &[data-open="true"] {
            --radius: 20px 20px 0 0;
            border-bottom: 0;
            svg {
                transform: rotate(90deg);
            }
        }
    }
    &--item {
        --radius: 0;
        white-space: nowrap;
        min-width: 100%;
        padding: 0 16px;
        text-align: left;
        justify-content: flex-start;
        height: 30px;
        width: max-content;
        max-width: calc(100vw - 40px);
        &:hover {
            background-color: rgba($base-color, 0.3);
        }
        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &--error {
        animation: 600ms linear error alternate 5;
    }
    &--help {
        border: 1px solid rgba($base-color, 0.6);
        height: 30px;
        padding: 0 20px;
        &:hover {
            background-color: rgba($base-color, 0.3);
        }
        &,
        &:active {
            background-color: $secondary-color;
        }
    }
    &--windows-close {
        --button-size: 20px;
        --radius: 0 0 0 20px;
        --icon-color: red;
        --icon-size: 15px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        display: flex;
        position: absolute;
        margin: auto;
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
        min-width: 65px;
        height: 30px;
        border-left: 1px solid rgba(red, 0.3);
        border-bottom: 1px solid rgba(red, 0.3);
        padding-top: 4px;
        padding-bottom: 4px;
        &:hover {
            --icon-color: white;
            color: white;
            background-color: red;
        }
        &:active {
            background-color: rgba(red, 0.7);
        }
    }
}

.list {
    position: relative;
    overflow: visible;
    height: 35px;
    &__box {
        position: relative;
        list-style: none;
        padding-left: 0;
        white-space: nowrap;
        width: max-content;
        min-width: 100%;
        margin-top: -1px;
        margin-bottom: 0;
        border-radius: 0 0 5px 5px;
        box-shadow: 2px 2px 0 2px rgba(white, 0.02);
        background-color: $secondary-color;
        height: 0;
        overflow: hidden;
        pointer-events: none;
        user-select: none;
        opacity: 0;
        transition: 200ms ease;
        border: 1px solid rgba($base-color, 0.5);
        z-index: 0;
        &[data-open="true"] {
            height: var(--menu-height);
            padding-top: var(--padding);
            padding-bottom: var(--padding);
            pointer-events: all;
            opacity: 1;
        }
    }
    &__item {
        display: flex;
        margin: 0;
        &:not(:first-of-type) {
            border-top: 1px solid rgba(white, 0.06);
        }
    }
}

.form {
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        color: color.adjust($color: $base-color, $lightness: 60%);
        &>span {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font: {
                size: 0.9rem;
            }
        }
    }
    &__input {
        background-color: $secondary-color;
        color: color.adjust($color: $base-color, $lightness: 60%);
        border: 1px solid rgba($base-color, 0.5);
        padding: 0 20px;
        height: 35px;
        border-radius: 20px;
        width: 100%;
        display: flex;
        text-align: left;
        justify-content: flex-start;
        font: inherit;
        outline: 1px solid transparent;
        font: {
            size: 0.88rem;
        }
        &:focus {
            outline: 1px solid transparent;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
        border-top: 1px solid rgba(white, 0.1);
        padding-top: 10px;
    }
}