@use "sass:color";
@use "./vars" as *;

:root {
    font: {
        size: 16px;
        family: "Roboto", "Open Sans", sans-serif, arial;
    }

    line-height: 1.6;
    background-color: color.adjust($base-color, $lightness: -10%);
    color: white;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;

    &:not([class]) {
        &:hover {
            text-decoration: underline;
        }
    }
}


/* Para navegadores WebKit (Chrome, Edge, Safari) */

.scrollable {
    overflow-y: scroll;
    scrollbar-width: 2px;
    /* Firefox */
    scrollbar-color: #ffffff44 transparent;
}

.scrollable::-webkit-scrollbar {
    width: 2px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
}