@use "sass:color";
@use "./vars" as *;

main {
    height: 100vh;
    overflow: auto;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(white, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.form {
    position: relative;

    &--install {
        padding: 20px;
    }
}

.notification {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, 0.1);
    z-index: 30;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    pointer-events: none;

    &__inner {
        background-color: black;
        border-radius: 5px;
        max-width: 400px;
        width: 100%;
        border: 1px solid rgba(white, 0.2);
        border-top: 4px solid rgba(white, 0.2);
        pointer-events: all;
        animation: 300ms ease fade-in forwards;
        overflow: auto;
        max-height: 300px;
        box-shadow: inset 0 0 20px rgba(white, 0.15);

        font: {
            size: 0.9rem;
        }

        &--error {
            border-color: rgba(204, 0, 0, 0.575);
            border-top-color: rgba(204, 0, 0, 0.575);
            color: rgb(255, 59, 59);
        }

        &--success {
            border-color: rgba(0, 204, 0, 0.575);
            border-top-color: rgba(0, 204, 0, 0.575);
            color: rgb(0, 255, 0);
        }

        &--warning {
            border-color: rgba(204, 204, 0, 0.575);
            border-top-color: rgba(204, 204, 0, 0.575);
            color: orange;
        }

        &--info {
            border-color: rgba(0, 204, 204, 0.575);
            border-top-color: rgba(0, 204, 204, 0.575);
            color: rgb(0, 204, 204);
        }
    }

    &__content {
        position: relative;
        padding: 15px;
        overflow: auto;
        width: 100%;
        text-align: center;
    }

    &__footer {
        position: sticky;
        bottom: 15px;
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
        padding: 5px 0;
        background-color: black;
    }
}