@use "sass:color";
@use "./vars" as *;
.header {
    background-color: $secondary-color;
    border-bottom: 1px solid rgba(white, 0.1);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 20;
    &__inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $max-width;
        &--dashboard {
            max-width: unset;
            width: $width;
        }
    }
    &__title {
        --icon-size: 20px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: orangered;
        margin: 0;
        color: orange;
        display: flex;
        align-items: center;
        gap: 5px;
        font: {
            size: 1.2rem;
        }
    }
    &__buttons {
        display: flex;
    }
    // MODIFICADORES
    &--dashboard {
        border-bottom: 0;
        background-color: unset;
        padding: 13px 0;
        min-height: 65px;
    }
    &--nav {
        border-radius: 0;
        &:not(:first-of-type) {
            border-left: 1px solid rgba($border-color, 0.3);
        }
    }
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    --icon-color: white;
    background-color: color.adjust($color: $base-color, $lightness: -20%);
    color: var(--icon-color);
    padding: 10px;
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgba($base-color, 0.1);
    z-index: 10;
    &::before {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        border-top: 1px solid rgba(white, 0.05);
    }
    &__inner {
        max-width: $max-width;
        margin: 0 auto;
        padding: 5px;
        &--dashboard {
            max-width: unset;
        }
    }
    &__author {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        padding-right: 20px;
        @media screen and (max-width: 800px) {
            justify-content: center;
            text-align: center;
        }
        @media screen and (max-width: 400px) {
            flex-direction: column;
            align-items: center;
        }
        & {
            font: {
                size: 0.8rem;
            }
        }
    }
    &__link {
        color: inherit;
        opacity: 0.5;
        transition: 300ms ease;
        --icon-size: 15px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 5px;
        &:hover {
            opacity: 1;
        }
        &:active {
            transition: none;
            opacity: 1;
        }
    }
    // MODIFICADORES
    &--dashboard {
        border-top: 0;
        background-color: unset;
        &::before {
            border-top: 0;
        }
    }
}

.section {
    background-color: rgba(black, 0.3);
    flex-grow: 1;
    &__title {
        --icon-size: 20px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: orange;
        margin: 0;
        &--center {
            text-align: center;
        }
        &--login {
            margin-bottom: 30px;
            font-size: 1.1rem;
        }
    }
    &__inner {
        margin: 0 auto;
        max-width: $max-width;
        padding: 20px;
        &--login {
            margin-top: 30px;
            max-width: 500px;
        }
    }
    &__logo {
        --icon-size: 100px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: #{rgba(white, 0.7)};
        display: flex;
        align-items: center;
        justify-content: center;
        &--login {
            padding-top: 40px;
            padding-bottom: 20px;
        }
    }
    &__column {
        &--sidebar {
            --icon-color: #{rgba(white, 0.6)};
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            border-right: 0;
            min-width: 300px;
        }
        &--content {
            flex-grow: 1;
            padding: 0;
            display: flex;
        }
        &--dashboard {
            padding-right: 20px;
        }
    }
    &--dashboard {
        display: flex;
        background-color: transparent;
    }
}

.sidebar {
    padding: 20px 0;
    overflow: auto;
    svg {
        transform: rotate(180deg);
    }
    &__title {
        margin: 0;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        font: {
            weight: 500;
            size: 1.2rem;
        }
    }
}

.dropzone {
    position: relative;
    margin: 30px auto;
    max-width: 600px;
    width: $width;
    min-height: 100px;
    overflow: hidden;
    background-color: $dropzone-color;
    border: 1px dashed rgba(white, 0.3);
    transition: 300ms ease;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 27px;
    z-index: 10;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: auto;
        top: auto;
        bottom: 0;
        height: 8px;
    }
    &::before {
        width: 0;
        background-color: black;
        z-index: 0;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        height: 6px;
        transition: none;
    }
    &::after {
        left: 0;
        right: 0;
        border-top: 1px solid rgba(137, 218, 137, 0.1);
        background-color: rgb(26, 27, 27);
        width: 100%;
    }
    &--copying {
        $color: color.adjust($color: $base-color, $saturation: 50%, $lightness: -5%);
        $color: rgb(200, 255, 0);
        border: 1px solid rgba(white, 0.05);
        &::before {
            width: var(--progress);
            background-color: $color;
            transition: 300ms ease;
        }
    }
    &--success {
        background-color: $dropzone-color;
    }
    &--dragenter {
        &::after {
            width: 100%;
            height: 100%;
            background-color: rgb(6, 29, 44);
            z-index: 1;
            content: "Suelte el archivo para copiar";
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px dashed rgba(white, 0.3);
            animation: 200ms ease fade-in forwards;
        }
        &>* {
            pointer-events: none;
            user-select: none;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        @media screen and (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
    }
    &__info {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: rgba(black, 0.9);
        border: 1px solid rgba(white, 0.1);
        pointer-events: none;
        opacity: 0;
        border-radius: 10px 10px 0 0;
        &--loading {
            pointer-events: all;
            opacity: 1;
        }
    }
    &__progress {
        text-align: center;
        font: {
            weight: bold;
            size: 1.5rem;
        }
    }
}

.modal {
    &-container {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        background-color: $background-modal;
        &__header {
            background-color: color.adjust($color: $secondary-color, $lightness: 2%, $saturation: -50%);
            color: white;
            display: flex;
            align-items: center;
            padding: 10px 15px;
            position: sticky;
            top: 0;
            border-bottom: 1px solid rgba(white, 0.15);
            z-index: 2;
        }
        &__title {
            --icon-color: orange;
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
            gap: 5px;
            margin: 0;
            display: flex;
            align-items: center;
            color: var(--icon-color);
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
            font: {
                size: 1.2rem;
            }
            @media screen and (max-width: 400px) {
                font: {
                    size: 0.9rem;
                }
            }
        }
        &__content {
            overflow: auto;
            min-height: 100px;
            flex-grow: 1;
            transition: 300ms ease;
            @media screen and (min-width: $max-width) {
                padding: 20px;
            }
        }
    }
    & {
        margin: auto;
        position: relative;
        max-width: $max-width;
        overflow: hidden;
        box-shadow: 2px 2px 0 2px rgba(white, 0.04);
        @media screen and (min-width: $max-width) {
            border: 1px solid rgba(white, 0.1);
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
    }
    &__content {
        padding: 20px;
        background-color: color.adjust($color: $secondary-color, $lightness: 5%, $saturation: -70%);
        color: rgba(white, 0.8);
        min-height: 100px;
        line-height: 1.5rem;
    }
    &__footer {
        background-color: $secondary-color;
        border-top: 1px solid rgba(white, 0.1);
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
    }
}

.help {
    position: relative;
    font: {
        family: "Roboto Condensed Light", "Roboto Condensed", "Roboto", "Open Sans", sans-serif, arial;
    }
    &__title {
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(white, 0.1);
    }
    &__subtitle {
        margin-bottom: 0;
    }
    &__list {
        margin-top: 0;
    }
    &__item {
        margin-bottom: 10px;
        strong {
            color: orange;
        }
    }
}

.content {
    position: relative;
    border: 1px solid rgba($border-color, 0.3);
    flex-grow: 1;
    border-radius: 30px;
    padding: 40px;
    background-color: rgba(orangered, 0.015);
    &__title {
        margin: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    animation: 300ms ease fade-in forwards;
}